<h1>Edit movie:</h1>

<% form_for(@movie, url_for(:movies, :update, id: @movie.id)) do |f| %>

 <%= f.text_field_block(:name) %>
 <%= f.select_block(:rating, options: (1..5)) %>
 <%= f.submit_block "update"%>
<% end %>

<form action="http://localhost:3000/movies">
    <input type="submit" value="View list">
</form>

<form action="http://localhost:3000/home/logout">
    <input type="submit" value="Logout">
</form>