<h1>All the movies are here:</h1>

<h3>
  <ol>
    <% @movies.each do |movie|   %>
      <li><a href="http://localhost:3000/movies/<%= "#{movie.id}" %>/edit"> <%= movie.name %></a></li>
    <% end %>
  </ol>
</h3>

<form action="http://localhost:3000/movies/new">
    <input type="submit" value="Add movie">
</form>

<form action="http://localhost:3000">
    <input type="submit" value="Home Page">
</form>

