<h1>Add a new movie:</h1>

<% form_for @movie, url_for(:movies, :create) do |f| %>
 <% if @movie.errors.present? %>
    <h2> Whoops </h2>
    <ul>
     <% @movie.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <%end%>
  </ul>
 <% end %>
 <%= f.text_field_block(:name) %>
 <%= f.select_block(:rating, options: (1..6)) %>
 <%= f.submit_block "submit"%>
<% end %>